services:
  node-1:
    build: ./node-app
    hostname: node-1
    environment:
      - NODE_ID=1
      - PEERS=node-2,node-3
    networks:
      - playground-net
    ports:
      - "7001:7000" # map host port 7001 to container 7000
    volumes:
      - ./cluster-data/node-1:/app/data # Maps host folder to container folder
  node-2:
    build: ./node-app
    hostname: node-2
    environment:
      - NODE_ID=2
      - PEERS=node-1,node-3
    networks:
      - playground-net
    ports:
      - "7002:7000"
    volumes:
      - ./cluster-data/node-2:/app/data

  node-3:
    build: ./node-app
    hostname: node-3
    environment:
      - NODE_ID=3
      - PEERS=node-1,node-2
    networks:
      - playground-net
    ports:
      - "7003:7000"
    volumes:
      - ./cluster-data/node-3:/app/data
networks:
  playground-net:
    driver: bridge

